body {
  font-family: 'Do Hyeon', sans-serif;
  background-image: url(/assets/bg-codigo.svg);
  background-color: #2b2b2b;
  color: #f6f6f6;
}

header {
  padding: 3.125em 0 7em 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  color: #c2e7d9;
}

nav section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 0.3rem;
}

.menu {
  visibility: collapse; /*Hidden menu*/
}

a:link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  color: #c2e7d9;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

a:link.active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 6px;
  text-underline-position: below;
  font-size: 1.6rem;
  color: #c2e7d9;
}

a:visited {
  text-decoration: none;
  color: #c2e7d9;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #c2e7d9;
}

.hover-underline-animation:after {
  content: ''; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 6px; /* Height of the underline */
  bottom: -6px; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: #c2e7d9; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.25s ease-out; /* Transition effect for the underline */
}

.hover-underline-animation:hover:after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}

.hover-underline-animation:active:after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}

a:active {
  text-decoration: none;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

main {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2.5rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  line-height: 2.25rem;
  font-size: 1.2rem;
  font-weight: 400;
  width: 50%;
  height: auto;
}

article section {
  display: flex;
  flex-direction: column;
}

article section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 32px;
}

h2::after {
  content: '|';
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 b {
  color: #c2e7d9;
}

button {
  border: 2px solid #c2e7d9;
  background-color: transparent;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #f6f6f6;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 1.25rem;
  border-radius: 3%;
  width: 50%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

button:hover {
  background-color: #56939c;
}

button img {
  width: 10%;
  height: auto;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 70%;
  height: auto;
}

.main-projects {
  display: flex;
  justify-content: space-evenly;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-evenly;
  width: 160%;
  height: auto;
}

.projects img {
  width: 80%;
  height: auto;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #c2e7d9;
  margin: 5rem 0 0.5rem 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer a {
  width: 17%;
  height: auto;
  border-radius: 0;
  cursor: pointer;
}

footer p {
  margin-top: 1em;
  color: #c2c2c2;
}

/* Generical Google Icon Class */
.material-symbols-outlined {
  font-size: 1.27rem;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 100;
}

/* Google Font Classes */
.do-hyeon-regular {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 400; 
  font-style: normal;
}

@media only screen and (max-width: 700px) {
  header {
    padding: 1.125em 0 1em 0;
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.25), 0 1.5px rgba(255, 255, 255, 0.082);
  }

  nav {
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    margin: 1rem;
  }

  .menu {
    cursor: pointer;
    visibility: visible; /*visible mobile menu*/
  }

  nav section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.3rem;
  }

  .header-container {
    display: none;
  }

  a:link {
    font-size: 1.2rem;
  }

  a:link.active {
    font-size: 1.2rem;
  }

  main {
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
    gap: 2.5rem;
  }

  main section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  article {
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    width: 100%;
    height: auto;
  }

  article section {
    display: flex;
    flex-direction: column;
  }

  .main-projects {
    display: flex;
    justify-content: center;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
    height: auto;
  }

  footer img {
    width: 100%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  main {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  article {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  img {
    width: 75%;
  }

  .main-projects {
    display: flex;
    justify-content: center;
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-evenly;
    gap: 1.2rem;
    width: 175%;
    height: auto;
  }

  footer img {
    width: 100%;
  }
}
